/* ============================
   GRID EXACT LIKE THE ORIGINAL
   ============================ */
.museum-services {
  background: #2b160a;
  padding: 140px 0;
  color: #e9c08f;
  font-family: "Cormorant Garamond", serif;
}

.museum-services .container {
  width: 1280px;
  margin: 0 auto;
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 160px 140px;
  align-items: start;
}


/* ============================
      LEFT DECORATIVE LINE 
   ============================ */
.service-01 {
  position: relative;
  padding-left: 90px;
}

.service-01::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  width: 2px;
  height: 280px;
  background: #e9b15a;
}

.service-01::after {
  content: "";
  position: absolute;
  left: 20px;
  top: 320px;
  width: 2px;
  height: 280px;
  background: #e9b15a;
}

.left-star img {
  position: absolute;
  left: 4px;
  top: 285px;
  width: 28px;
}


/* ============================
            TEXT STYLES
   ============================ */
.service-number {
  font-size: 15px;
  opacity: 0.8;
  margin-bottom: 10px;
}

.service-title {
  font-size: 34px;
  margin-bottom: 18px;
  color: #e9c08f;
}

.service-description {
  font-size: 18px;
  color: #d8c1a2;
  line-height: 1.7;
  max-width: 380px;
}


/* ============================
            RIGHT COLUMN
   ============================ */
.service-02 {
  padding-top: 20px;
}

.service-02 .service-number {
  margin-left: -4px;
}


/* ============================
           OVAL IMAGE
   ============================ */
.service-image {
  grid-column: 1 / 3;
  text-align: center;
  margin-top: -80px;
}

.service-image img {
  width: 560px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 55px rgba(0,0,0,0.6);
}


/* ============================
         THIRD BLOCK (03)
   ============================ */
.service-03 {
  grid-column: 1 / 2;
  padding-left: 90px;
  margin-top: -40px;
}

.bottom-star img {
  width: 40px;
  margin-right: 16px;
}

.events-block {
  display: flex;
  align-items: center;
  margin-top: 22px;
}

.events-link {
  color: #e9b15a;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}

.events-link:hover {
  border-color: #e9b15a;
}
