.information {
  background-color: var(--about-gallery-bg);
}

.information__container {
  display: flex;
  flex-direction: column;
  padding: 12px 8px;
  width: 100%;
  max-width: 1200px;
}

.information__title-block {
  width: clamp(234px, 80vw, 768px);
  height: auto;
  margin-left: clamp(10px, 3vw, 30px);
  margin-right: auto;
}

.information__subtitle {
  font-family: var(--title-font2);
  font-size: clamp(12px, 4vw, 38px);
  color: var(--text-color1);
  margin-top: clamp(10px, 5vw, 20px);
  margin-bottom: clamp(25px, 5vw, 35px);
}
.information__title {
  font-family: var(--title-font);
  font-size: clamp(30px, 8vw, 70px);
  width: 100%;
  color: var(--title-color3);
  margin-bottom: clamp(25px, 5vw, 35px);
  overflow-wrap: break-word;
}

.information__title-span {
  color: var(--title-color1);
  font-size: clamp(50px, 11vw, 100px);
}

.information__item {
  display: flex;
  align-items: center;
  width: clamp(260px, 80vw, 768px);
  margin-left: clamp(10px, 3vw, 30px);
  margin-right: auto;
  margin-bottom: clamp(15px, 5vw, 25px);
}

.information__picture {
  width: clamp(200px, 55vw, 760px);
  height: auto;
}

.information__line-star {
  margin-left: 40px;
  width: clamp(20px, 20vw, 40px);
  height: clamp(200px, 60vw, 400px);
}

.information__text1 {
  font-family: var(--text-font);
  font-size: clamp(14px, 4vw, 24px);
  font-weight: 500;
  color: var(--text-color2);
  width: clamp(250px, 80vw, 517px);
  height: auto;
  overflow-wrap: break-word;
  margin-left: clamp(10px, 3vw, 30px);
  margin-right: auto;
  margin-top: clamp(5px, 4vw, 35px);
  margin-bottom: clamp(5px, 4vw, 25px);
  line-height: 1.2;
}

.information__text2 {
  font-family: var(--text-font);
  font-size: clamp(14px, 4vw, 28px);
  font-weight: 700;
  color: var(--text-color1);
  width: clamp(280px, 80vw, 632px);
  overflow-wrap: break-word;
  margin-top: clamp(5px, 4vw, 35px);
  margin-bottom: clamp(5px, 4vw, 35px);
  margin-left: clamp(10px, 3vw, 30px);
  margin-right: auto;
  line-height: 1.2;
}

.information__text3 {
  font-family: var(--text-font);
  font-size: clamp(14px, 4vw, 28px);
  font-weight: 400;
  color: var(--text-color3);
  width: clamp(280px, 80vw, 632px);
  overflow-wrap: break-word;
  margin-left: clamp(10px, 3vw, 30px);
  margin-right: auto;
  margin-top: clamp(5px, 4vw, 35px);
  margin-bottom: clamp(5px, 4vw, 25px);
  line-height: 1.2;
}

@media (min-width: 768px) {
  .information__container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* ліва і права частина */
    align-items: start;
    gap: 12px;
    padding: 12px 8px;
    margin: 0 auto;
  }

  .information__title-block {
    width: clamp(117px, 45vw, 384px);
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 2rem;
  }

  /* Блок заголовку */
  .information__subtitle {
    text-transform: uppercase;
    font-size: clamp(8px, 2vw, 14px);
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
  }

  .information__title {
    font-size: clamp(20px, 5vw, 55px);
    font-weight: 600;
    line-height: 1.1;
  }

  .information__title-span {
    font-size: clamp(25px, 11vw, 70px);
  }

  /* Блок із картинкою + зіркою */
  .information__item {
    position: relative;
    display: flex;
    grid-column: 1;
    grid-row: 1;
    justify-content: center;
    width: clamp(300px, 40vw, 500px);
  }

  .information__picture {
    width: clamp(300px, 40vw, 500px);
    height: auto;
  }

  .information__line-star {
    display: none;
  }

  .information__text1 {
    font-size: clamp(14px, 2vw, 20px);
    margin-top: clamp(150px, 40vw, 400px);
    grid-column: 2;
    grid-row: 1;
    width: clamp(258px, 40vw, 400px);
  }

  .information__text2 {
    font-size: clamp(10px, 3vw, 25px);
    width: clamp(140px, 45vw, 420px);
    line-height: 1.6;
  }

  .information__text3 {
    font-size: clamp(10px, 3vw, 25px);
    width: clamp(140px, 45vw, 450px);
    line-height: 1.6;
  }
}

@media (min-width: 990px) {
  .information__container {
    display: grid;
    grid-template-columns: 0.2fr 1fr; /* ліва і права частина */
    align-items: start;
    gap: 12px;
    padding: 12px 8px;
    margin: 0 auto;
  }

  /*ЛЕВА ЧАСТИНА*/

  .information__text1 {
    grid-column: 1;
    grid-row: 1;
    width: clamp(210px, 2vw, 220px);
    font-size: clamp(10px, 4vw, 14px);
    margin-top: clamp(460px, 40vw, 510px);
    margin-left: 0;
  }

  /*ПРАВА ЧАСТИНА*/

  .information__title-block {
    grid-column: 2;
    grid-row: 1;
    position: relative;
    z-index: 2;
    width: clamp(384px, 80vw, 686px);
  }

  .information__subtitle {
    grid-column: 1;
    grid-row: 1;
  }

  .information__title-span {
    margin-left: clamp(260px, 25vw, 300px);
  }

  .information__item {
    grid-column: 2;
    grid-row: 1;
    z-index: 3; /* щоб накладалось зверху */
    justify-self: left;
    margin-left: 0;
    width: clamp(300px, 28vw, 350px);
  }

  .information__picture {
    width: clamp(300px, 28vw, 350px);
    height: auto;
    margin-top: clamp(140px, 12vw, 150px);
  }

  .information__text2 {
    font-size: clamp(16px, 2vw, 17px);
    grid-column: 2;
    grid-row: 1;
    width: clamp(400px, 10vw, 420px);
    margin-top: clamp(240px, 20vw, 260px);
    margin-left: clamp(240px, 33vw, 400px);
  }

  .information__text3 {
    font-size: clamp(16px, 2vw, 17px);
    grid-column: 2;
    grid-row: 1;
    width: clamp(420px, 45vw, 420px);
    margin-top: clamp(380px, 35vw, 440px);
    margin-left: clamp(240px, 33vw, 400px);
  }

  .information__line-star {
    display: none;
  }

  .information__br {
    display: none;
  }
}
