@import "global.css";
@import "global.header-nav.partial.css";
@import "global.footer.partial.css";
@import "about-gallery.photo-carousel.partial.css";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;

  background-color: var(--bg-primary);
  font-family: var(--text-font);
  max-width: 1200px;
  margin: 0 auto;
}