.events-header-hero {
    text-align: center;
    padding: 60px 0px 90px;
    background-color: var(--header-events-bg);

    .events-header-hero__content {
        padding: 0px 15px;

        .events-header-hero__title {
            font-size: 40px;
            font-style: italic;
            font-weight: 400;
            color: var(--title-color1);
            font-family: var(--title-font);
            margin-bottom: 25px;
        }

        .events-header-hero__divider {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-bottom: 30px;

            .events-header-hero__icon {
                width: auto;
                height: 32px;
            }
        }

        .events-header-hero__breadcrumbs {
            text-align: center;
            height: 20px;

            .events-header-hero__breadcrumbs-list {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                list-style: none;
                padding: 0;
                margin: 0;

                .events-header-hero__breadcrumbs-item {
                    color: var(--text-color1);
                }

                .events-header-hero__breadcrumbs-separator {
                    color: var(--text-color1);
                    font-size: 12px;
                }

                .events-header-hero__breadcrumbs-link {
                    text-decoration: none;
                    color: var(--text-color1);
                    font-family: var(--title-font2);
                    font-size: 14px;
                    letter-spacing: 0.5px;
                    transition: color 0.3s ease;
                }

                .events-header-hero__breadcrumbs-link:hover {
                    text-decoration: underline;
                    color: var(--title-color1); 
                }

                .events-header-hero__breadcrumbs-link--active {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .events-header-hero {
        padding: 60px 0px 95px;

        .events-header-hero__content {
            .events-header-hero__title {
                font-size: 51px;
            }
        }
    }
}

@media (min-width: 992px) {
    .events-header-hero {
        padding: 60px 0px 100px;

        .events-header-hero__content {
            .events-header-hero__title {
                font-size: 62px;
            }

            .events-header-hero__divider {
                .events-header-hero__icon {
                    width: 250px;
                }
            }
        }
    }
}