footer{
   text-align: center;
   background-color: var(--bg-secondary);
   text-align: center;
   margin: auto;
}

.footer__link{
      color: var(red);
      text-decoration: none;
}

.footer__logo{
  display: block;
  width: 300px;
  height: auto;
  object-fit: contain;
}

.footer__list--left{
      text-align: left;
      color: yellow;
}