.footer{
   text-align: center;
   background-color: var(--bg-secondary);
   margin: auto;
   align-items: center;
   padding: 20px 0;
   max-width: 1200px;
}


.footer__logo{
  display: block;
  width: 160px;
  height: auto;
  margin: 0 auto;
  object-fit: contain;
}

.footer__item{
      display: flex;
      flex-direction: row;
      align-items: center;
}

.footer__copyright{
      color: var(--text-color2);
}

.footer__item--bottom a{
      color: var(--text-color2);
      text-decoration-line: underline;
      font-family: var(--title-font);
}

.footer__item--top a{
      color: var(--title-color2);
      text-decoration: none;
      font-family: var(--text-font);
}
