footer{
   text-align: center;
   background-color: var(--bg-secondary);
   text-align: center;
   margin: auto;
}

.footer__link{
      color: var(red);
      text-decoration: none;
}

.footer__logo{
  display: block;
  width: 160px;
  height: auto;
  object-fit: contain;
}

.footer__list{
      text-align: center;  
}

.footer__social-list{
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 1rem;
}

@media (min-width: 770px) {
    .footer__list-left{
      text-align: left;  
}
}