footer{
   text-align: center;
   background-color: var(--bg-secondary);
   margin: auto;
   align-items: center;
   padding: 20px 0;
}

.footer__logo{
  display: block;
  width: 160px;
  height: auto;
  object-fit: contain;
}

.footer__social-icon{
      display: flex;
      flex-direction: row;
      color: #9f7647;
}

.footer__copyright{
      color: white
}