.footer{
   text-align: center;
   background-color: var(--bg-secondary);
   margin: auto;
   margin-bottom: 24px;
   align-items: center;
   padding: 32px 0;
   max-width: 1200px;
}

.footer__logo{
  display: block;
  width: 160px;
  height: auto;
  margin: 40px auto;
  object-fit: contain;
}

.footer__copyright{
      color: var(--text-color-secondary);
      margin-top: 30px;
      margin-bottom: 30px;
}

.footer__copyright-right{
      font-style: italic;
}

.footer__item--bottom {
      color: var(--text-color-secondary);
      text-decoration-line: underline;
      font-family: var(--text-font);
}

.footer__item--top {
      color: var(--color-gold);
      text-decoration: none;
      font-family: var(--text-font);
      width: 17px;
}

.footer__social-list {
  list-style: none;
  padding: 0;
  margin: 12px 0 24px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
  fill: var(--color-bronze)
}

.footer__social-icon{
  width: 30px;
  height: 30px;
}

.footer__link{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: var(--text-color-primary);
  text-decoration: none;
}

.footer__item{
  margin-bottom: 16px;
}

/* Стандартне розміщення (на великих екранах) */
.footer__list--left {
    display: flex;
    flex-direction: column; /* або row, залежно від твого макету */
    gap: 12px;
}


@media (min-width: 785px) {

    .footer__list--left {
        flex-direction: row; 

    }

}