.artworks {
    margin-top: 250px;
    margin-bottom: 100px;
    padding: 40px 20px 100px;
    position: relative;
    padding: 28px 20px;
    


    .artworks__title {
        color: var(--title-color1);
        text-align: center;
        font-family: "Bacasime Antique", serif;
        font-weight: 400;
        font-size: 56px;
        font-style: italic;
        width: 209px;
        height: 65px;
        margin: 6px 0 20px;
    }

    .artworks__list {
        display: flex;
        flex-direction: column;
        min-height: 500px;
    }

    .artworks__item {
        margin: 0;
        padding: 0;


    }

    .artworks__caption {
        margin-top: 20px;
        color: var(--text-color2);
        text-align: left;
        max-width: 240px;
        font-size: 13px;
        font-style: italic;
        display: flex;
        white-space: wrap;
        flex-direction: column;
    }


    .artworks__image {
        display: block;
        height: auto;
    }

    .artworks__image--large {
        justify-content: center;
        width: 170px;
    }

    .artworks__image--medium {
        width: 163px;
    }

    .artworks__image--small {
        width: 127px;
    }

    .artworks__item:nth-child(1) {
        text-align: center;
        margin-bottom: 50px;
    }

    .artworks__item--third {
        position: absolute;
        align-self: flex-end;
        margin-top: 270px;
        margin-right: 10px;
        z-index: 2;
        align-items: center;


    }

    .artworks__caption--third {
        width: 71px;
        text-align: center;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: left;
        margin-left: 30px;
    }
    
}