@import "global.css";
@import "global.header-nav.partial.css";
@import "global.footer.partial.css";
@import "index.news.partial.css";
@import "index.art-works.partial.css";
@import "project-video.partial.css"