.art__segment {
  display: flex;
  justify-content: center; 
}

.art__description-segment {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 10px;
}
.title__content {
  text-align: center;
}
.content__title {
  font-family: Bacasime Antique, serif;
  font-size: 34px;
  color: var(--color-gold);
  line-height: 37px;
  text-align: center;
}
.title__highlighted-text {
  font-style: italic;
  color: var(--color-white);
}
.art__segment {
  font-family: Bacasime Antique, serif;
  height: 180px;
  font-size: 60px;
  color: var(--color-white);
  text-align: right;
  line-height: 60px;
}
.art__figure {
  width: 169px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.art__figure__date {
  position: relative;
  bottom: 60px;
  width: 81px;
}
.art__artist-name {
  font-family: Bacasime Antique, serif;
  font-size: 24px;
  color: var(--color-gold);
  line-height: 26px;
}
.art__name {
  font-family: Bacasime Antique, serif;
  font-size: 24px;
  color: var(--color-bronze);
  line-height: 26px;
}
.art__comment {
  font-family: Antic Didon, serif;
  width: 155px;
  font-size: 12px;
  color: var(--text-color-primary);
  line-height: 20px;
}
.description__text {
  font-family: Work Sans, serif;
  width: 185px;
  font-size: 17px;
  color: var(--text-color-primary);
  text-align: center;
  line-height: 23px;
}
.art_name {
  font-family: Work Sans, sans-serif;
  width: 70px;
  font-size: 15px;
  color: var(--text-color-secondary);
  line-height: 20px;
}
.artist_name {
  font-family: Work Sans, sans-serif;
  width: 82px;
  font-size: 14px;
  color: var(--text-color-secondary);
  line-height: 20px;
}
