.news {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.news__grid-container {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: auto auto auto auto;
  gap: 15px;

  .news__title {
    position: relative;
    font-family: var(--title-font);
    color: var(--title-color1);
    font-size: 32px;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 30px;
    grid-column: 1/3;

    .news__word {
      color: var(--title-color2);
      font-style: italic;
    }
  }
  .news__divider {
    position: absolute;
    left: 5px;
    border: 1px solid red;
  }

  .news__category {
    font-family: var(--title-font);
    color: var(--title-color2);
    font-size: 20px;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .news__subtitle {
    font-family: var(--text-font);
    color: var(--text-color2);
    font-style: italic;
    font-size: 10px;
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .news__text {
    font-family: var(--text-font);
    color: rgba(255, 255, 255, 0.51);
    font-size: 13px;
    text-wrap: balance;
    word-spacing: 8px;
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .news__link {
    text-decoration: none;
    color: var(--title-color3);
    font-family: Work Sans, sans-serif;
    font-size: 10px;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
  }
}

@media (min-width: 768px) {
  .news__grid-container {
    grid-template-columns: 100px 600px;
    .news__title {
      grid-column: 2/3;
      max-width: 500px;
    }
    .news__category {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .news__link {
      grid-column: 1/2;
      grid-row: 4/5;
      justify-self: start;
    }
    .news__text {
      grid-column: 2/3;
      grid-row: 2/3;
      word-spacing: normal;
    }
    .news__subtitle {
      grid-column: 2/3;
      grid-row: 3/4;
      max-width: 300px;
    }
    .news__divider {
      position: relative;
      top: -131px;
    }
  }
}

@media (min-width: 990px) {
  .news__grid-container{
    grid-template-columns: 150px 650px 100px;
    gap: 35px;
    grid-template-rows: auto auto auto;
    .news__title {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    .news__category {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .news__subtitle {
      grid-column: 1/2;
      grid-row: 3/4;
    }
    .news__link{
      grid-column: 3/4;
      grid-row: 2/3;
      justify-self: end;
    }
    .news__text {
      grid-column: 2/3;
      grid-row: 2/4;
    }
    .news__divider {
      position: relative;
      top: 5px;
  }
}
