.title__content {
  text-align: center;
}
.content__title {
  font-family: Bacasime Antique, serif;
  width: 272px–∂
  font-size: 34px;
  color: #EAB156;
  line-height: 37px;
  position: static;
}
.title__highlighted-text {
  font-family: Bacasime Antique, serif;
  width: 135px;
  font-size: 34px;
  color: #FFFFFF;
  line-height: 37px;
  position: static
}
.art__segment {
  font-family: Bacasime Antique, serif;
  width: 150px;
  font-size: 60px;
  color: #FFFFFF;
  text-align: right;
  line-height: 60px;
  position: absolute;
  bottom: 15px;
  right: 30px;
}
.art__figure {
  position: relative;
  width: 311px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.art__artist-name {
  font-family: Bacasime Antique, serif;
  width: 188px;
  font-size: 24px;
  color: #EAB156;
  line-height: 26px;
  position: static;
}
.art__name {
  font-family: Bacasime Antique, serif;
  width: 177px;
  font-size: 24px;
  color: #9F7647;
  line-height: 26px;
  position: static;
}
.art__comment {
  font-family: Antic Didon, serif;
  width: 287px;
  font-size: 12px;
  color: #FFFFFF96;
  line-height: 20px;
  position: static;
}
.description__text {
  font-family: Work Sans, serif;
  width: 339px;
  font-size: 17px;
  color: #FFFFFF96; 
  text-align: justify;
  line-height: 23px;
  position: static;
}
.art_name {
  font-family: Work Sans, sans-serif;
  width: 129px;
  font-size: 15px;
  color: #FFFFFF52; 
  line-height: 20px;
  position: static;
}
.artist_name {
  font-family: Work Sans, sans-serif;
  width: 152px;
  font-size: 14px;
  color: #FFFFFF52; 
  line-height: 20px;
  position: static;
}
