.title__content {
  text-align: center;
}
.content__title {
  font-family: Bacasime Antique, serif;
  width: 272px;
  height: 37px;
  font-size: 34px;
  color: #EAB156;
}
.title__highlighted-text {
  font-family: Bacasime Antique, serif;
  width: 135px;
  height: 37px;
  font-size: 34px;
  color: #FFFFFF;
}
.art__segment {
  font-family: Bacasime Antique, serif;
  width: 150px;
  height: 55px;
  font-size: 60px;
  color: #FFFFFF;
  text-align: right;
}
.art__figure {
  width: 311px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.art__artist-name {
  font-family: Bacasime Antique, serif;
  width: 188px;
  height: 26px;
  font-size: 24px;
  color: #EAB156;
}
.art__name {
  font-family: Bacasime Antique, serif;
  width: 177px;
  height: 26px;
  font-size: 24px;
  color: #9F7647;
}
.art__comment {
  font-family: Antic Didon, serif;
  width: 287px;
  height: 33px;
  font-size: 12px;
  color: #FFFFFF96;

}
.description__text {
  font-family: Work Sans, serif;
  width: 339px;
  height: 157px;
  font-size: 17px;
  color: #FFFFFF96; 
  text-align: justify;
}
.art_name {
  font-family: Work Sans, sans-serif;
  width: 129px;
  height: 15px;
  font-size: 14px;
  color: #FFFFFF52; 
}
.artist_name {
  font-family: Work Sans, sans-serif;
  width: 152px;
  height: 15px;
  font-size: 14px;
  color: #FFFFFF52; 
}
