.unlock-renaissance {
    margin: auto;
    max-width: 1200px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.5);п
    .unlock-renaissance__title{
      text-align: center;
      font-size: 3.75rem; 
      font-family: var(--title-font);
      color: var(--title-color1); 
      font-weight: lighter;
      overflow-wrap: break-word;
      margin-bottom: 2rem;  /* нормальний відступ */
      position: relative;
      z-index: 2;
    }
    .unlock-renaissance__image-wrapper{
      position: relative;
      margin: 0 auto;
      margin-top: -6rem;
      z-index: 1;
      .unlock-renaissance__image{
        display: block;
        width: 30vw;
        margin: 0 auto;
        border-radius: 85% 85% 0 0;
        display: block; /* щоб margin auto працював завжди */
      }
    }
    .unlock-renaissance__content{
      margin: 0 auto;
      .unlock-renaissance__subtitle{
        width: 83%;
        text-align: center;
        font: var(--title-font);
        font-size: 17px;
        font-weight: bold;
        word-spacing: 0.1rem;
        line-height: 1.6;
        margin: 50px auto;     
        color: var(--text-color1);
      }
      .unlock-renaissance__text{
        width: 83%;
        text-align: center;
        font: var(--title-font);
        font-size: 14px;
        font-style: italic;
        line-height: 1.6;
        font-weight: bold;
        margin: 25px auto;
        color: var(--text-color2);
    }
  }
}
