.artworks {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1.75rem 1.25rem;
    position: relative;

    .artworks__title {
        color: var(--title-color1);
        text-align: center;
        font-family: "Bacasime Antique", serif;
        font-weight: 400;
        font-style: italic;
        font-size: clamp(56px, 10vw, 75px);
        margin: 6px auto 20px;
        width: auto;
        height: auto;
        padding: 0 20px;
    }

    .artworks__list {
        position: relative;
        width: 100%;
        max-width: 75rem;
        margin: 0 auto;
        min-height: 40vh;
    }

    .artworks__item {
        margin: 0;
        padding: 0;
    }

    .artworks__caption {
        margin-top: 1.25rem;
        color: var(--text-color2);
        text-align: left;
        font-size: clamp(0.75rem, 4vw, 1rem);
        font-style: italic;
        display: flex;
        flex-direction: column;
        line-height: 1.25;
    }

    .artworks__image {
        display: block;
        height: auto;
        width: 100%;

    }


    .artworks__item:nth-child(1) {
        text-align: center;
        margin-bottom: 3rem;
        width: 60%;
        margin-left: 8%;

    }

    .artworks__item--second {
        /* width: 42%; */
        width: 58%;
        margin-left: 8%;
    }


    .artworks__item--third {
        position: absolute;
        top: 50%;
        right: 0%;
        width: 42%;
        z-index: 2;

        .artworks__caption--third {
            text-align: center;
            margin: 1rem auto 0;
            max-width: 120px;
            word-wrap: break-word;
            overflow-wrap: break-word;
            hyphens: manual;
            padding: 0 20px;
        }
    }
}