.hero {
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 0 28px;

    @media (min-width: 768px) {
        display: grid;
        flex-direction: row;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }

    @media (min-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.hero__content-container {
    margin: auto;
    display: flex;
    flex-direction: column;

    .hero__subtitle {
        font-family: var(--text-font);
        font-weight: 500;
        font-size: 0.775rem;
        color: var(--text-color2);
        font-style: italic;
    }

    .hero__title {
        font-family: var(--title-font);
        font-weight: 100;
        font-size: 2.85rem;
        color: var(--title-color1);    

        .hero__title-em {
            font-style: italic;
            color: var(--title-color2);
        }

        .hero__endtitle-em {
            font-style: italic;
            color: var(--title-color3);
        }
    }

    .hero__divider {
        width: 140px;
    }

    .hero__description {
        font-family: var(--text-font);
        font-weight: 300;
        font-size: 0.8rem;
        color: var(--text-color1);
        text-align: justify;
    }

    .hero__btn {
        padding: 0.75rem 1.3rem;
        font-family: var(--text-font);
        font-weight: 700;
        font-size: 0.6rem;
        color: var(--title-color1);
        background-color: transparent;
        border: 0.9px solid var(--title-color1);
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: var(--title-color1);
            color: var(--title-color3);
        }
    }
}

.hero__content-visual {
    margin: auto;
    display: flex;
    flex-direction: column;

    .hero__video {
        display: grid;
        flex-direction: row;
        grid-template-columns: 1fr 2fr;

        .hero__video-subtitle {
            font-family: var(--text-font);
            font-weight: 500;
            font-size: 0.775rem;
            color: var(--text-color2);
            font-style: italic;
        }
    }
}

.hero__content-info {
    margin: auto;
    display: flex;
    flex-direction: column;
}


.hero__nav {
    margin: auto;
    display: flex;
    flex-direction: row;
}