.hero {
  margin: auto;
  max-width: 1200px;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  padding: 40px 20px;

  .hero__content-container {
    gap: 1.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 600px;

    .hero__subtitle {
      font-family: var(--text-font);
      font-weight: 500;
      font-size: 3.4vw;
      color: var(--text-color2);
      font-style: italic;
    }

    .hero__title {
      font-family: var(--title-font);
      font-weight: 100;
      font-size: 14.85vw;
      color: var(--title-color1);
      width: auto;

      .hero__title-em {
        font-style: italic;
        color: var(--title-color2);
      }

      .hero__endtitle-em {
        font-style: italic;
        color: var(--title-color3);
      }
    }

    .hero__divider {
      width: 140px;
    }

    .hero__description {
      font-family: var(--text-font);
      font-size: 4vw;
      color: var(--text-color1);
      text-align: justify;
      font-weight: 350;
      line-height: 1.6;
      letter-spacing: 0.4px;
    }

    .hero__btn {
      margin: 0;
      align-self: flex-start;
      padding: 0.75rem 1.3rem;
      font-family: var(--text-font);
      font-weight: 700;
      font-size: 3.6vw;
      color: var(--title-color1);
      background-color: transparent;
      border: 0.9px solid var(--title-color1);
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: var(--title-color1);
        color: var(--title-color3);
      }
    }
  }

  .hero__content-visual {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .hero__figure--main {
      width: 100%;
      max-width: 380px;
      margin-inline: auto;

      padding: 3px; /* створює проміжок між рамкою та зовн. контуром */
      background-color: var(--color-hero-frame-outer);

      border-top-left-radius: 50% 35%;
      border-top-right-radius: 50% 35%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      overflow: hidden; /* обрізає все під арку */

      .hero__figure-inner {
        padding: 10px; /* ВАЖЛИВО! Це і є той проміжок! */
        background-color: var(--bg-primary);

        border-top-left-radius: 50% 35%;
        border-top-right-radius: 50% 35%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        overflow: hidden;

        /* Внутрішній блок із зображенням */
        .hero__img-visual {
          display: block;
          width: 100%;
          height: auto;

          aspect-ratio: 3/4;

          /* щоб верхня частина була також заокруглена */
          border-top-left-radius: 50% 35%;
          border-top-right-radius: 50% 35%;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

          object-fit: cover;
          object-position: center top;
        }
      }
    }

    .hero__video {
      display: flex;
      max-width: 380px;
      align-items: center;
      gap: 16px;
      width: 100%;

      .hero__video-btn {
        position: relative;

        width: 89px;
        height: 89px; /* ВАЖЛИВО: ширина = висоті */

        border-radius: 50%;
        overflow: hidden;

        border: 4px solid var(--hero-video-border);
        padding: 0;
        background: var(--hero-video-bg);

        display: flex;
        justify-content: center;
        align-items: center;

        flex-shrink: 0; /* Щоб кнопка не деформувалась */

        .hero__video-thumb {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .hero__video-play {
          position: absolute;
          width: 28px;
          height: 28px;

          display: flex;
          justify-content: center;
          align-items: center;

          color: #fff;
          font-size: 16px;
          line-height: 1;
          border-radius: 50%;

          pointer-events: none;
        }
      }

      .hero__video-text {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .hero__video-title {
          font-family: var(--title-font2);
          font-weight: 100;
          font-size: 3.75vw;
          text-transform: uppercase;
          color: var(--title-color3);
        }

        .hero__video-subtitle {
          font-family: var(--text-font);
          font-weight: 500;
          font-size: 3.4vw;
          color: var(--text-color2);
          font-style: italic;
        }
      }
    }
  }

  .hero__content-info {
    gap: 1.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .hero__side-card {
      display: flex;
      width: 100%;
      max-width: 600px;
      position: relative;

      .hero__side-img-wrapper {
        width: 60%;
        overflow: hidden;
        border-top-left-radius: 90% 55%;

        .hero__side-img {
          width: 100%;
          height: auto;
          display: block;
          object-fit: cover;
        }

        .hero__side-year {
          z-index: 2;
          font-family: var(--title-font);
          font-size: 10.5vw;
          color: var(--title-color3);
          position: absolute;
          right: 25%;
          bottom: 8%;
        }
      }

      .hero__side-decor {
        position: absolute;
        inset: 0;
        background-image: url("../img/global/global-star.svg");
        background-size: 45%;
        background-repeat: no-repeat;
        background-position: 90% 10%;
        opacity: 0.12;
        z-index: 1;
      }
    }

    .hero__info {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      max-width: 380px;
      z-index: 1;

      .hero__info-title {
        font-family: var(--title-font);
        font-style: italic;
        color: var(--title-color2);
        font-weight: 100;
        font-size: 5vw;
      }

      .hero__info-text {
        font-family: var(--text-font);
        font-size: 4vw;
        color: var(--text-color1);
        text-align: justify;
        font-weight: 350;
        line-height: 1.6;
        letter-spacing: 0.4px;
      }
    }
  }

  .hero__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;

    .hero__nav-link {
      text-decoration: none;
      color: var(--title-color1);
      font-size: 3vw;
      letter-spacing: 0.05em;
      position: relative;
    }

    .hero__nav-top {
      display: flex;
      gap: 1.5rem;
      font-family: var(--title-font2);

      .hero__nav-link--top {
        border-bottom: 1px solid var(--text-color2);
        color: var(--text-color2);
        text-transform: uppercase;
        padding-bottom: 0.2rem;
      }

      .hero__nav-icon {
        color: var(--title-color1);
        margin-right: 0.5rem;
        font-size: 1rem;
      }
    }

    .hero__nav-link--main {
      font-family: var(--title-font);
      color: var(--title-color1);
      font-size: 5.5vw;
      display: inline-flex;
      gap: 0.5rem;
    }

    .hero__nav-arrow {
      font-size: 1rem;
      line-height: 1;
    }
  }
}

@media (min-width: 768px) {
  .hero {
    display: grid;
    grid-template-columns: 2fr 1fr;

    .hero__content-container {
      max-width: 800px;
      gap: 2rem;
      order: 1;
      z-index: 2;

      .hero__subtitle {
        font-size: 2vw;
      }

      .hero__title {
        font-size: 8vw;
        width: auto;
      }

      .hero__divider {
        width: 185px;
      }

      .hero__description {
        font-size: 1.4vw;
        max-width: 440px;
      }

      .hero__btn {
        padding: 0.75rem 1.3rem;
        font-size: 2vw;
      }
    }

    .hero__content-visual {
      order: 3;

      .hero__figure--main {
        width: 100%;
        max-width: 360px;
        margin-inline: auto;

        padding: 3px; /* створює проміжок між рамкою та зовн. контуром */
        background-color: var(--color-hero-frame-outer);

        border-top-left-radius: 50% 35%;
        border-top-right-radius: 50% 35%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        overflow: hidden; /* обрізає все під арку */

        .hero__figure-inner {
          padding: 10px; /* ВАЖЛИВО! Це і є той проміжок! */
          background-color: var(--bg-primary);

          border-top-left-radius: 50% 35%;
          border-top-right-radius: 50% 35%;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

          overflow: hidden;

          /* Внутрішній блок із зображенням */
          .hero__img-visual {
            display: block;
            width: 100%;
            height: auto;

            aspect-ratio: 3/4;

            /* щоб верхня частина була також заокруглена */
            border-top-left-radius: 50% 35%;
            border-top-right-radius: 50% 35%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            object-fit: cover;
            object-position: center top;
          }
        }
      }

      .hero__video {
        display: flex;
        max-width: 380px;
        align-items: center;
        gap: 16px;
        width: 100%;

        .hero__video-btn {
          position: relative;

          width: 89px;
          height: 89px; /* ВАЖЛИВО: ширина = висоті */

          border-radius: 50%;
          overflow: hidden;

          border: 4px solid var(--hero-video-border);
          padding: 0;
          background: var(--hero-video-bg);

          display: flex;
          justify-content: center;
          align-items: center;

          flex-shrink: 0; /* Щоб кнопка не деформувалась */

          .hero__video-thumb {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .hero__video-play {
            position: absolute;
            width: 28px;
            height: 28px;

            display: flex;
            justify-content: center;
            align-items: center;

            color: #fff;
            font-size: 16px;
            line-height: 1;
            border-radius: 50%;

            pointer-events: none;
          }
        }

        .hero__video-text {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .hero__video-title {
            font-size: 2vw;
          }

          .hero__video-subtitle {
            font-size: 2vw;
          }
        }
      }
    }

    .hero__content-info {
      gap: 1.5rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      position: relative;
      overflow: hidden;
      order: 2;
      transform: translateY(80px);

      .hero__side-card {
        display: flex;
        width: 100%;
        max-width: 380px;
        position: relative;

        .hero__side-img-wrapper {
          width: 100%;
          overflow: hidden;
          border-top-left-radius: 90% 55%;

          .hero__side-img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
          }

          .hero__side-year {
            z-index: 2;
            font-family: var(--title-font);
            font-size: 7vw;
            color: var(--title-color3);
            position: absolute;
            right: 25%;
            bottom: 8%;
          }
        }

        .hero__side-decor {
          position: absolute;
          inset: 0;
          background-image: url("../img/global/global-star.svg");
          background-size: 45%;
          background-repeat: no-repeat;
          background-position: 90% 10%;
          opacity: 0.12;
          z-index: 1;
        }
      }

      .hero__info {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        max-width: 320px;
        z-index: 1;

        .hero__info-title {
          font-family: var(--title-font);
          font-style: italic;
          color: var(--title-color2);
          font-weight: 100;
          font-size: 3vw;
        }

        .hero__info-text {
          font-family: var(--text-font);
          font-size: 2vw;
          color: var(--text-color1);
          text-align: justify;
          font-weight: 350;
          line-height: 1.6;
          letter-spacing: 0.4px;
        }
      }
    }

    .hero__nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
      order: 4;
      transform: translateY(80px);

      .hero__nav-link {
        text-decoration: none;
        color: var(--title-color1);
        font-size: 2vw;
        letter-spacing: 0.05em;
        position: relative;
      }

      .hero__nav-top {
        display: flex;
        gap: 1.5rem;
        font-family: var(--title-font2);

        .hero__nav-link--top {
          border-bottom: 1px solid var(--text-color2);
          color: var(--text-color2);
          text-transform: uppercase;
          padding-bottom: 0.2rem;
        }

        .hero__nav-icon {
          color: var(--title-color1);
          margin-right: 0.5rem;
          font-size: 1rem;
        }
      }

      .hero__nav-link--main {
        font-family: var(--title-font);
        color: var(--title-color1);
        font-size: 3.5vw;
        display: inline-flex;
        gap: 0.5rem;
      }

      .hero__nav-arrow {
        font-size: 1rem;
        line-height: 1;
      }
    }
  }
}

@media (min-width: 992px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .hero__content-container {
      max-width: 800px;
      gap: 2rem;
      order: 1;
      z-index: 2;

      .hero__subtitle {
        font-size: 1vw;
      }

      .hero__title {
        font-size: 4vw;
        width: auto;
      }

      .hero__divider {
        width: 185px;
      }

      .hero__description {
        font-size: 1.4vw;
        max-width: 340px;
      }

      .hero__btn {
        padding: 0.75rem 1.3rem;
        font-size: 1vw;
      }
    }

    .hero__content-visual {
      order: 2;

      .hero__figure--main {
        width: 100%;
        max-width: 360px;
        margin-inline: auto;

        padding: 3px; /* створює проміжок між рамкою та зовн. контуром */
        background-color: var(--color-hero-frame-outer);

        border-top-left-radius: 50% 35%;
        border-top-right-radius: 50% 35%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        overflow: hidden; /* обрізає все під арку */

        .hero__figure-inner {
          padding: 10px; /* ВАЖЛИВО! Це і є той проміжок! */
          background-color: var(--bg-primary);

          border-top-left-radius: 50% 35%;
          border-top-right-radius: 50% 35%;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

          overflow: hidden;

          /* Внутрішній блок із зображенням */
          .hero__img-visual {
            display: block;
            width: 100%;
            height: auto;

            aspect-ratio: 3/4;

            /* щоб верхня частина була також заокруглена */
            border-top-left-radius: 50% 35%;
            border-top-right-radius: 50% 35%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            object-fit: cover;
            object-position: center top;
          }
        }
      }

      .hero__video {
        display: flex;
        max-width: 380px;
        align-items: center;
        gap: 16px;
        width: 100%;
        transform: translateY(-50px) translateX(-45px);

        .hero__video-btn {
          position: relative;

          width: 120px;
          height: 120px; /* ВАЖЛИВО: ширина = висоті */

          border-radius: 50%;
          overflow: hidden;

          border: 4px solid var(--hero-video-border);
          padding: 0;
          background: var(--hero-video-bg);

          display: flex;
          justify-content: center;
          align-items: center;

          flex-shrink: 0; /* Щоб кнопка не деформувалась */

          .hero__video-thumb {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .hero__video-play {
            position: absolute;
            width: 28px;
            height: 28px;

            display: flex;
            justify-content: center;
            align-items: center;

            color: #fff;
            font-size: 16px;
            line-height: 1;
            border-radius: 50%;

            pointer-events: none;
          }
        }

        .hero__video-text {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .hero__video-title {
            font-size: 1vw;
          }

          .hero__video-subtitle {
            font-size: 1vw;
          }
        }
      }
    }

    .hero__content-info {
      gap: 1.5rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      position: relative;
      overflow: hidden;
      order: 3;
      transform: translateY(-35px);

      .hero__side-card {
        display: flex;
        width: 100%;
        max-width: 300px;
        position: relative;

        .hero__side-img-wrapper {
          width: 60%;
          overflow: hidden;
          border-top-left-radius: 90% 55%;

          .hero__side-img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
          }

          .hero__side-year {
            z-index: 2;
            font-family: var(--title-font);
            font-size: 4vw;
            color: var(--title-color3);
            position: absolute;
            right: 25%;
            bottom: 8%;
          }
        }

        .hero__side-decor {
          position: absolute;
          inset: 0;
          background-image: url("../img/global/global-star.svg");
          background-size: 45%;
          background-repeat: no-repeat;
          background-position: 90% 10%;
          opacity: 0.12;
          z-index: 1;
        }
      }

      .hero__info {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        max-width: 320px;
        z-index: 1;

        .hero__info-title {
          font-family: var(--title-font);
          font-style: italic;
          color: var(--title-color2);
          font-weight: 100;
          font-size: 2vw;
        }

        .hero__info-text {
          font-family: var(--text-font);
          font-size: 1.4vw;
          color: var(--text-color1);
          text-align: justify;
          font-weight: 350;
          line-height: 1.6;
          letter-spacing: 0.4px;
        }
      }
    }

    .hero__nav {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
      justify-content: space-between;
      gap: 1.5rem;
      order: 4;
      transform: none;
      grid-column: span 3;

      .hero__nav-link {
        text-decoration: none;
        color: var(--title-color1);
        font-size: 1vw;
        letter-spacing: 0.05em;
        position: relative;
      }

      .hero__nav-top {
        display: flex;
        gap: 1.5rem;
        font-family: var(--title-font2);

        .hero__nav-link--top {
          border-bottom: 1px solid var(--text-color2);
          color: var(--text-color2);
          text-transform: uppercase;
          padding-bottom: 0.2rem;
        }

        .hero__nav-icon {
          color: var(--title-color1);
          margin-right: 0.5rem;
          font-size: 1rem;
        }
      }

      .hero__nav-link--main {
        font-family: var(--title-font);
        color: var(--title-color1);
        font-size: 2.0vw;
        display: inline-flex;
        gap: 0.5rem;
      }

      .hero__nav-arrow {
        font-size: 1rem;
        line-height: 1;
      }
    }
  }
}
