.art__segment {
  display: flex;
  justify-content: center; 
}
.art__description-segment {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  padding: 15px;
  gap: 5px;
  font-weight: 400;
  margin-top: 60px;
}
.title__content {
  text-align: center;
}
.content__title {
  font-family: Bacasime Antique, serif;
  font-size: 34px;
  color: var(--title-color1);
  line-height: 37px;
  text-align: center;
  font-weight: 400;
}
.title__highlighted-text {
  font-style: italic;
  color: var(--title-color3);
}
.art__segment {
  font-family: Bacasime Antique, serif;
  height: 180px;
  font-size: 60px;
  color: var(--title-color3);
  text-align: right;
  line-height: 60px;
}
.art__figure {
  width: 270px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.art__figure__date {
  position: relative;
  bottom: 60px;
  width: 81px;
}
.art__artist-name {
  font-family: Bacasime Antique, serif;
  font-size: 24px;
  color: var(--title-color1);
  line-height: 26px;
  font-weight: 400;
}
.art__name {
  font-family: Bacasime Antique, serif;
  font-size: 24px;
  color: var(--title-color2);
  line-height: 26px;
  font-weight: 400;
}
.art__comment {
  font-family: Antic Didon, serif;
  width: 155px;
  font-size: 12px;
  color: var(--text-color1);
  line-height: 20px;
}
.description__text {
  font-family: Work Sans, serif;
  width: 185px;
  font-size: 17px;
  color: var(--text-color1); 
  text-align: center;
  line-height: 23px;
}
.art_name {
  font-family: Work Sans, sans-serif;
  width: 70px;
  font-size: 15px;
  color: var(--text-color2); 
  line-height: 20px;
}
.artist_name {
  font-family: Work Sans, sans-serif;
  width: 82px;
  font-size: 14px;
  color: var(--text-color2); 
  line-height: 20px;
}
@media (min-width: 992px)  {
  .art__segment {
  display: flex;
  justify-content: center; 
}
.art__description-segment {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 10px;
  font-weight: 400;
  text-align: left;
  position: relative;
        top: -200px;
  padding: 0px 0px 0px 650px;
}
.title__content {
  text-align: center;
}
.content__title {
  font-family: Bacasime Antique, serif;
  font-size: 42px;
  color: var(--title-color1);
  line-height: 37px;
  text-align: left;
  font-weight: 400;
  padding: 10px 680px 10px 30px;
}
.title__highlighted-text {
  font-style: italic;
  color: var(--title-color3);
}
.art__segment {
  font-family: Bacasime Antique, serif;
  font-size: 72px;
  color: var(--title-color3);
  text-align: left;
  line-height: 60px;
  padding: 0px 500px 0px 0px;
}
.art__figure {
  width: 470px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.art__figure__date {
  position: relative;
  bottom: 350px;
}
.art__artist-name {
  font-family: Bacasime Antique, serif;
  font-size: 24px;
  color: var(--title-color1);
  line-height: 26px;
}
.art__name {
  font-family: Bacasime Antique, serif;
  font-size: 24px;
  color: var(--title-color2);
  line-height: 26px;
}
.art__comment {
  font-family: Antic Didon, serif;
  width: 155px;
  font-size: 12px;
  color: var(--text-color1);
  line-height: 20px;
}
.description__text {
  font-family: Work Sans, serif;
  width: 185px;
  font-size: 17px;
  color: var(--text-color1);
  text-align: center;
  line-height: 23px;
}
.art_name {
  font-family: Work Sans, sans-serif;
  width: 70px;
  font-size: 15px;
  color: var(--text-color2);
  line-height: 20px;
}
.artist_name {
  font-family: Work Sans, sans-serif;
  width: 82px;
  font-size: 14px;
  color: var(--text-color2);
  line-height: 20px;
}
}
