@media (min-width: 320px) {
  .news__container {
    display: block;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;

    .news__title {
      font-family: var(--title-font);
      color: var(--title-color1);
      font-size: 30px;
      font-weight: 400;
      max-width: 260px;
      line-height: 30px;

      .news__word {
        color: var(--title-color2);
        font-style: italic;
      }
    }
    .news__divider {
      position: absolute;
      top: 3px;
      left: 7px;
    }
  }
  .grid__container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: auto auto auto;
    gap: 15px;
    .news__link {
      text-decoration: none;
      color: var(--text-color1);
      font-family: antique dionic;
      font-size: 10px;
      justify-self: end;
      grid-column: 2/3;
      grid-row: 1/2;
    }
    .news__category {
      font-family: var(--title-font);
      color: var(--title-color2);
      font-size: 20px;
    }
    .news__subtitle {
      font-family: var(--text-font);
      color: var(--text-color2);
      font-style: italic;
      font-size: 10px;
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .news__text {
      font-family: var(--text-font);
      color: rgba(255, 255, 255, 0.51);
      font-size: 13px;
      grid-column: 1/3;
      grid-row: 3/4;
      word-spacing: 12px;
    }
  }
}

@media (min-width: 768px) {
  
}