<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Art Gallery</title>
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
        <nav 
            data-hx-trigger="load" 
            data-hx-swap="outerHTML" 
            data-hx-get="global.header-nav.partial.html"
        ></nav>
        <section 
            data-hx-trigger="load" 
            data-hx-swap="outerHTML" 
            data-hx-get="index.hero.partial.html"
            >
        </section>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
    </header>
    <main class="main">
      <!--Gerlib Andriy-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.project-video.partial.html"
      ></section>
      <!--Gerlib Andriy End -->

      <!-- Halaichuk Vladyslav -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.rahael.partial.html"
      ></section>
      <!-- Halaichuk Vladyslav End -->

      <!-- Serhii Popovniak -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.artworks.partial.html"
      ></section>
      <!-- Serhii Popovniak -->

      <!--Sofiia Liashenko -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="renaissance-reverie.html"
      ></section>
      <!-- Sofiia Liashenko -->

      <!--Mykola Heiko-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.news.partial.html"
      ></section>
      <!--Mykola Heiko Finish-->

    <!-- Vitaliy Kuzhil -->
        <!-- Section 10.Renaissance Miracle -->
        <section
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="index.renaissance-miracle.partial.html"
            >
        </section>
        <!-- Section 10.Renaissance Miracle End -->
        
        <!-- Section 11.Eternal Beauty -->
        <section
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="index.eternal-beauty.partial.html"
            >
        </section>
        <!-- Section 11.Eternal Beauty End -->

        <!-- Section 12.Religious Motifs -->
        <section
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="index.religious-motifs.partial.html"
            >
        </section>
        <!-- Section 12.Religious Motifs End -->
    <!-- Vitaliy Kuzhil End -->

    <!--Sofiia Liashenko -->
        <section 
            data-hx-trigger="load" 
            data-hx-swap="outerHTML" 
            data-hx-get="renaissance-reverie.html"
            >
         </section>
    <!-- Sofiia Liashenko -->

      <!--Pasychnyk Anna-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.articles.partial.html"
      ></section>
      <!--Pasychnyk Anna Finish-->
    </main>
    <!--Nychkalo Vira-->
    <footer class="footer">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer-nav.partial.html"
      ></nav>
    </footer>
    <!--Nychkalo Vira Finish-->
  </body>
</html>
